<ion-view view-title="Group Users" class="title" ng-controller="GroupCtrl">
  <ion-nav-buttons side="secondary">
    <button ng-click="add_group()" class="button">
      <i class="icon ion-android-add-circle"></i> New Group
    </button>
  </ion-nav-buttons>
  
  <ion-content class="offline-group">
    <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="searchString">
    </label>
    <ion-list class="list">
      <div class="card" ng-repeat="css in ggroups" style="margin:10px;">
        <ion-item class="item " style="background-color: #8bc6e9;color:#fff;">
          {{css.course_name}}
        </ion-item>
        <div class="" ng-repeat="gp in css.groups | filter:myFilter | filter: {group_name: searchString}">
          <ion-item class="item" ng-click="show_users(css,gp)" ng-class="isSelection(css,gp)?'sactive':''" >
            <h2>Group : {{gp.group_name}}</h2>
          </ion-item>
          <ion-item class="item item-thumbnail-left add-user-item" href="#" ng-repeat="user in gp.users | filter:myFilter" ng-show="isShown(css,gp)">
            <img ng-src="https://learning.ittfoceania.com/webservice/pluginfile.php/4/user/icon/f1?token=1458781b25583a0dffb66af711411000">
            <h2>{{user.firstname}} {{user.lastname}}</h2>
            <p>{{user.username}}</p>
            <ion-option-button class="button-dark" ng-click="delete_user(css,gp,user)">
              Remove User
            </ion-option-button>
          </ion-item>
        </div>
      </div>
    </ion-list>
  </ion-content>

  <ion-footer-bar align-title="center" class="bar-light offline-footer" style="padding:0;">
    <div class="row" style="padding: 0;">
      <div class="col col-50">
        <button class="button button-positive" ng-disabled="!selection.group" ng-click="add_user()" style="width:100%;min-height:100%;line-height: 100%;">Add Users</button>
      </div>
      <div class="col col-50">
        <button class="button button-dark" ng-disabled="!selection.group" ng-click="delete_group()" style="width:100%;min-height:100%;line-height: 100%;">Delete Group</button>
      </div>
    </div>

  </ion-footer-bar>

</ion-view>

