<ion-view view-title="Manage Users" class="users-view" ng-controller="UsersCtrl">
  <ion-nav-buttons side="secondary">
    <button ng-click="newUser()" class="button">
      <i class="icon ion-android-add-circle"></i> New User
    </button>
  </ion-nav-buttons>
  <ion-content  overflow-scroll="true"  >

    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="searchString" ng-model-options="{debounce: 1000}">
      </label>

      <label class="item item-input item-select" style="width:80%;float:left;">
        <div class="input-label">
          Country
        </div>
        <select ng-disabled="haveNoRights()" ng-model ="countryCode">
          <option></option>
          <option ng:repeat="country in countries | orderBy :'name'" value="{{country.code}}"   ng-selected="country.code==countryCode">
            {{country.name}}
          </option>
        </select>
      </label>
     
        <button ng-disabled="haveNoRights()"  class="button " style="float:right; width:20%; background-color:#3fa9f3; color:#fff;">
              Go
        </button>

    </div>

    <p ng-show="!users" class="text-center">loading...</p>

    <ion-list>
      <ion-item class="item-thumbnail-left" ng-if="checkViewRights(user.roleid,user.country)" ng-repeat="user in $parent.filteredUsers = (users | filter: {fullname: searchString, country: countryCode})">
        <img ng-src="{{'https://learning.ittfoceania.com/webservice/pluginfile.php/' + user.context_id + '/user/icon/f1?token=' + token}}"/>
          <h2>{{user.fullname}}</h2>
        <p>{{user.username}}</p>
        <!--<p ng-repeat="country in countries | filter: {code: user.country}">{{country.name}}</p>-->
        <p ng-repeat="country in countries | filter: {code: user.country}" >{{country.name}}</p>
        <ion-option-button class="button-positive" ng-click="profile(user)">
          Profile
        </ion-option-button>
        <ion-option-button class="button-energized" ng-click="edit(user)" ng-if="checkEditRights(user.roleid,user.country)">
          Edit
        </ion-option-button>
      </ion-item>
    </ion-list>

  </ion-content>

  <ion-footer-bar align-title="center" class="bar-light">
    <h1 class="title">{{filteredUsers.length || 0}} users</h1>
  </ion-footer-bar>

</ion-view>
